* {
  border: 1px solid red;
}

#graphics {
  width: 400px;
  height: 400px;
}

#soundMachine {
  display: flex;
  margin: 0;
  padding: 0;
}

.button {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  text-align: center;
  list-style-type: none;
  padding: 10px 0 10px 0;
  margin: 0 5px 0 5px;
  border: 2px solid black;
  line-height: 90px;

}

ul {
  display: flex;
  padding: 5px 5px 5px 5px;
  margin: 0;
}
